*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  padding-top: 10px;
}
header {
  width: 90%;
  margin: auto;
  display: flex;
}
.logo img {
  height:100px;
  padding: 0;
}
h3 {
  font-size: 22px;
  position: relative;
  left: 15px;
  top: 20%;
}
nav {
  position:relative;
  left: 100px;
  top: 50px;
}
ul {
  text-align: center;
}
li {
  align-content: bottom;
  display: inline-block;
  width: 150px;
  line-height: em;
  font-family: Arial, Helvetica, sans-serif;
  border-right: 1px solid black;
}
.active {
  background-color:rgb(237, 204, 161);
}
.top_img {
  display: flex;
  margin:auto;
  width: 100%;
  height: 350px;
  object-fit: cover;
}
.main h1 {
  margin-top: 20px;
  text-align: center;
  font-size: 40px;
}
.par1 {
  font-size: 24px;
  padding: 50px 200px 50px 200px;
  margin:auto;
  width: 100%;
  
}
.main h2 {
  margin-top: 40px;
  text-align: center;
  font-size: 30px;
}
.main {
  width: 90%;
  height: auto;
  margin: auto;
 
}
.Hot_Bev:hover{ 
  background-color:rgb(237, 204, 161);
}
figcaption {
  text-align: center;
}
.group1 {
  margin-top: 50px;
  margin-left: 150px;
  margin-right: 150px;
  display: flex;
  justify-content: space-between;
}
.group1 .Hot_Bev{
  border: 2px solid black;
}
.group2 {
  margin-top: 100px;
  margin-left: 150px;
  margin-right: 150px;
  margin-bottom: 50px;
  display: flex;
  justify-content: space-between;
  
}
.hot_bev {
  width: 100px;
  height: 150px;
  background-color: burlywood;
}
footer {
  width: 100%;
  height:auto;
  background-color:rgb(237, 204, 161);
  display:flex;
  justify-content:space-around;
  margin: auto;
  margin-bottom: 40px;
  padding: 20px;
}
.logo_footer img {
  margin-top: 30px;
  margin-left: 0;
  margin-right: 0;
  height:140px;
  padding: 0;
}
/*TLC Coffee & Tea header*/
.hd3_2 {
 font-weight: lighter;
 font-size: 22px;
 flex-grow: 1;
}
.address_info { /*VISIT US Address section*/
  flex-grow: 2;
}
.hd5_5 { /*VISIT US Address header*/
  font-weight:bolder;
  font-size: 22px;
  width: 140px;
  height: 40px;
  position: relative;
  left: 0px;
  top: 0px;
}
  address { /*Visit Us Address*/
  font-family:Arial, Helvetica, sans-serif;
  font-weight:normal;
  font-size: 22px;
  font-style: normal;
}
.connect_info { /*CONNECT Info section*/
  flex-grow: 2;
}
.hd4_3 { /*CONNECT Info header*/
  font-weight:bolder;
  font-size: 22px;
  width: 140px;
  height: 40px;
  position: relative;
  left: 0px;
  top: 0px;
}
.parg1_3 { /*Connect Info*/
  font-family:Arial, Helvetica, sans-serif;
  font-weight:normal;
  font-size: 22px;
  font-style: normal;
  position: relative;
  left: 0;
  top: 0;
  width: auto;
}


#cb {
  margin:auto;
  width: 200px;
  height: 200px;
  text-align: center;
}
#hb {
  margin:auto;
  width: 200px;
  height: 1000px;
  text-align: center;
}



@media screen and (max-width: 1200px) {
  header {
  width: 100%;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  }
  .logo{
    margin-left: 35%;
  }
  nav {
    position: relative;
    left: 0px;
    top: 10px;
    margin:auto;
  }
  .group1, .group2 {
    margin-left: 0px;
    margin-right: 0px;
  }
  .par1 {
  font-size: 24px;
  margin:auto;
  padding:0;
  width: 80%;
  }
  .main {
  width: 90%;
  height: auto;
  margin: auto;
 padding-top: 60px;
}
footer {
  width: 100%;
  height:auto;
  margin: auto;
  margin-bottom: 40px;
}
.address_info {
  height: auto;
  width: auto;
}
.hd5_5 { /*VISIT US header*/
 width: auto; 
}
}
  
@media screen and (max-width: 800px) {

  header {
  width: 100%;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
}
 header.logo{
  width: 40%;
  margin-left: 0;
  }
  header h3 {
  width: 40%;
  left: 0;
  top:0;
  margin: 0;
  padding: 0;
  }
.main {
  width: 100%;
  height: auto;
  margin: auto;
 padding-top: 60px;
}
  .group1, .group2 {
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
  }
  
  .par1 {
  font-size: 24px;
  margin:20px;
  padding:0;
  width: auto;
}

li {
  display: block;
  width: auto;
  line-height: em;
  font-family: Arial, Helvetica, sans-serif;
  border-right: none;
}

footer {
display: block;
}
footer h3{
  left:0;
}
}